body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header and navigation */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    display: flex;
    align-items: end;
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    background-color: black;
    color:purple;
}
/* Style the sections */
.section {
    background-color: #fff;
    padding: 40px 0;
}

/* Style the portfolio items */
.portfolio-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
}

/* Style the footer */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}