body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header and navigation */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    background-color: black;
    color:purple;
}

/* Style the sections */

.section {
    background-color:gray;
    padding: 40px 0;
}

.section:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
.image-of-me{
    float: right;
    margin-right: 20px;
}
.image-of-me img{
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

/* Style the portfolio items */
.portfolio-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    background-color: gray;
    text-align: center;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    max-width: 100%;
}

